<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.allassignments">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllAssignments">
        <activity
            android:name=".MyBMI"
            android:exported="true" />
        <activity
            android:name=".androidHistory"
            android:exported="true" />
        <activity
            android:name=".conversion"
            android:exported="true" />
        <activity
            android:name=".bdaygreet"
            android:exported="true"
            android:label="@string/title_activity_bdaygreet"
            android:theme="@style/Theme.AllAssignments.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>